[Desktop Entry]
Name=Cryptomator
Comment=Cryptomator
Exec=/opt/cryptomator/cryptomator.AppImage
Terminal=false
Type=Application
StartupNotify=true
Icon=/opt/cryptomator/cryptomator-logo.svg
Categories=Utility;
Keywords=cryptomator;